[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pydantic = "*"
wikipedia = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
wiki_searcher = "python -m wiki_searcher"
